<!doctype html>
<html lang="en">
  <head>

   <title>Rocket Elevator</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag    'essentials', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag    'header', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag    'layout', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag    'quote-form', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag    'blue', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'contact', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'request-quote', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'scripts', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'demo.revolution_slider', 'data-turbolinks-track': 'reload' %>
    


  </head>
  <body>
    <%= yield %>

    <!-- Optional JavaScript; choose one of the two! -->

  </body>
</html>


